# Java/Maven
backend/target/
*.class
*.jar
*.war
*.ear
*.iml
*.log

# Maven Wrapper
backend/.mvn/
!backend/.mvn/wrapper/maven-wrapper.jar

# Node/Next.js (frontend)
frontend/node_modules/
frontend/.next/
frontend/out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.*
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
*.swp
*.swo
.vscode/

# Misc
*.local

.vault_pass
